@import "tailwindcss";


* {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*::selection {
  color: rgb(118, 118, 118);
  background-color: rgba(255, 255, 255, 0.942);
}


/* .banner-image { */
/*   animation: banner-move linear forwards; */
/* } */
/**/
/* @keyframes banner-move { */
/*   from { */
/*     top: 0; */
/*   } */
/*   to { */
/*     top: 100%; */
/*   } */
/* } */

/**/
/* .banner-image { */
/*   animation: banner-move linear infinite; */
/* } */
/**/
/* @keyframes banner-move { */
/*   from { */
/*       top: 0; */
/*   } */
/*   to { */
/*       top: -100%; */
/*   } */
/* } */
